In [2]:
import pandas as pd
import numpy as np

# Cleaning resolution metadata

In [3]:
df = pd.read_csv('meta/res_names.csv', usecols=['resolution', 'topic'])
df.iloc[14, 1]

'Financing of the United Nations Transitional\r\nAuthority in Cambodia'

In [4]:
df.resolution = df.resolution.str.strip()
df.topic = df.topic.str.strip()

df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.dropna()
df.shape

(8713, 2)

In [5]:
def clean_resolutions(x):
    """ Resolution names are used to query pdf documents. They should be as clean as possible."""
    parts = x.split()

    if len(parts) > 1:
        return parts[0].strip()
    elif len(parts) == 0:
        return np.nan
    else:
        return x.strip()

df['resolution'] = df['resolution'].apply(clean_resolutions)
df = df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True)
df = df.replace('\s+', ' ', regex=True)
df = df.drop_duplicates(subset='resolution')
df = df.drop_duplicates(subset='topic')
df = df.dropna()

df.sample(5)

        resolution                                              topic
7467  A/RES/71/251  Establishment of the Technology Bank for the L...
1662   A/RES/52/18  Support by the UN of Governments' efforts to p...
4584   A/RES/61/34  Report of the International Law Commission on ...
8440  A/RES/74/265     Unforeseen and extraordinary expenses for 2020
1543  A/RES/52/112         Use of mercenaries to violate human rights

In [6]:
df.to_csv("meta/clean_res_names.csv")

In [7]:
df.head()

     resolution                                              topic
0  A/RES/48/267  Mission for the Verification of Human Rights a...
1  A/RES/48/266    Emergency assistance to the Republic of Moldova
2  A/RES/48/265  Observer status for the Sovereign Military Ord...
3  A/RES/48/264  Revitalization of the work of the General Asse...
4  A/RES/48/263  Agreement relating to the Implementation of Pa...